<p style="color: green"><%= notice %></p>

<% if @item.activated? %>
  <p>おめでとうございます！！</p>
  <div class="mb-3">
    <h3>景品名：<%= @item.name %></h3>
  </div>
  <p>をゲットしました！！</p>
<% else %>
  <h3>残念！！</h3>
  <p>景品はすでに獲得されました。</p>
<% end %>

<div>
  <%= link_to "Edit this item", edit_post_item_path(@item.post_id, @item.id) %> |
  <%#= link_to "Back to items", post_items_path %>

  <%= button_to "Destroy this item", post_item_path(@item.post_id, @item.id) , method: :delete %>
</div>
