<div class="mb-5 text-center">
  <% if @item.lose == true %>
    <div class="item__lose">
      <h3 class="m-5">😭残念！！ハズレです。</h3>
    </div>
  <% else %>
    <% if @item.item_got_user != current_user.id %>
      <div class="item__lose">
        <div class="m-5">
          <h3>😭残念！！</h3>
          <p>景品はすでに獲得されました。</p>
        </div>
      </div>
    <% else %>
      <p>🎉おめでとうございます！！🎉</p>
      <div class="mb-3">
        <p class="fw-bold">景品 No.<%= @index %></p>
        <h3 class="fw-bold item__name__gold"><%= @item.name %></h3>
      </div>
      <p>が当たりました！！</p>
      <p>当画面を提示して景品と交換してください。</p>
    <% end %>
  <% end %>
</div>
<div class="mb-3">
  <%= link_to icon_with_text("box-arrow-in-left", "マイページに戻る"), current_user, class: "" %>
</div>
