<div class="no_print text-center">
  <a href="javascript:void(0)" class="btn__basic__large btn__green d-block mb-3" onclick="window.print();return false;"><%= icon_with_text("qr-code", "QRコードを印刷する") %></a>
  <p class="fw-bold text-danger">※倍率など細かな調整は印刷ダイアログにて行ってください。</p>
</div>

<div class="row row-cols-2 row-cols-lg-4 g-2 g-lg-3 mt-3">
  <% @post.items.each_with_index do |item, index| %>
    <div class="page col mb-5">
      <div class="p-3 border text-center">
        <p>景品No.<%= index + 1 %></p>
        <p><%#= item.name %></p>
        <%= qrcode post_item_path(item.post_id, item.id), 4 %>
        <p class="mt-1" style="font-size: 0.6em"><%= item.id %></p>
      </div>
    </div>
  <% end %>
</div>
