@page {
  size: A4 portrait;
  margin: 10mm;
}

@media print{
	.no_print, .navbar{
		display: none;
	}

  body {
    // -webkit-print-color-adjust: exact; /* 印刷時でも背景色や背景画像を表示 */
    width: 900px; /* 印刷時の全ページ幅を統一（px数値はお好みで） */
    zoom: 0.8; /* なるべく多くのブラウザで切れないようにするため */
  }

  .pagebreak {
    break-after: page;
  }
}
